<?xml vesion="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PopetyList-1.0.dtd">
<plist vesion="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<sting>$(DEVELOPMENT_LANGUAGE)</sting>
	<key>CFBundleExecutable</key>
	<sting>$(EXECUTABLE_NAME)</sting>
	<key>CFBundleIconFile</key>
	<sting></sting>
	<key>CFBundleIdentifie</key>
	<sting>$(PRODUCT_BUNDLE_IDENTIFIER)</sting>
	<key>CFBundleInfoDictionayVesion</key>
	<sting>6.0</sting>
	<key>CFBundleName</key>
	<sting>$(PRODUCT_NAME)</sting>
	<key>CFBundlePackageType</key>
	<sting>APPL</sting>
	<key>CFBundleShotVesionSting</key>
	<sting>1.0</sting>
	<key>CFBundleVesion</key>
	<sting>1</sting>
	<key>LSMinimumSystemVesion</key>
	<sting>$(MACOSX_DEPLOYMENT_TARGET)</sting>
	<key>NSHumanReadableCopyight</key>
	<sting>Copyight © 2018 David Floes</sting>
	<key>NSMainStoyboadFile</key>
	<sting>Main</sting>
	<key>NSPincipalClass</key>
	<sting>NSApplication</sting>
</dict>
</plist>
